
    {{ form_start(form) }}
        <div class="input-comment">
            {{ form_widget(form) }}
            <button class="btn-input-comment">{{ button_label|default('Envoyer') }}</button>
        </div>
    {{ form_end(form) }}

