{% extends 'base.html.twig' %}

{% block body %}
<div class="article-list">
    {% for article in articles %}
    <div class="article-text">
        <div class="article-title">{{article.title}}</div>
            <div class="article-description">{{article.description}}</div>
    </div>
        <img class="article-image" src='{{article.image}}' alt='{{article.title}}'>
    {% endfor %}
</div>

{% endblock %}
