{% extends 'base.html.twig' %}

{% block body %}

<div class="profile-container">
    <div class="profile-comment">
        <p class="profile-welcome">Hello  {{ app.user.pseudo }}!</p>
        <p class="profile-comment-text">Voici tes commentaires :</p>
        {% for comment in comments %}
            <p>{{comment.article.id}}{{comment.content}}{{comment.date | date("d/m/Y")}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
