<div class="header">
    <h1 class="header-title">SecuriBlog</h1>
    <ul class="navbar">
        <li class="navBar {% if pageActive == 'home' %}active{% endif %}"><a href="{{ path("app_main") }}">Articles</a></li>
        {# <li class="navBar {% if pageActive == 'login' %}active{% endif %}"><a href="{{ path("app_login") }}">Connexion</a></li>
        <li class="navBar {% if pageActive == 'signup' %}active{% endif %}"><a href="{{ path("app_signup") }}">Inscription</a></li> #}
    </ul>
</div>
