{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editer un article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Sauver'}) }}

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
