{% extends 'base.html.twig' %}

{% block body %}
    <div class="create-article-container">
        <h1 class="create-article-title">Création d'un nouvel article</h1>
        <div class="create-article-form">
            {{ include('article/_form.html.twig') }}
        </div> 
    </div>
   

{% endblock %}
